.product-container {
  display: flex;
  margin: 20px;
}

.product-details {
  margin-left: 20px;
  flex-grow: 1;
}

.price {
  font-size: 1.5em;
  color: #333;
}

.description {
  margin-top: 10px;
  color: #666;
}

.quantity-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

label {
  margin-right: 5px;
}

#quantity {
  padding: 5px;
}

.total-price {
  margin-top: 10px;
  font-size: 1.2em;
  color: #27ae60;
}

.add-to-cart {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart:hover {
  background-color: #2980b9;
}

.product-image {
  position: relative;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.image-gallery {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image .thumbnail {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.product-image .thumbnail.active {
  border: 2px solid #3498db;
}