footer{
    background-color:black;
    width:100%;
    margin-top:100px;
    text-align: center!important;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
footer h1{
    color: white;
    padding-top: 30px;
}
footer p{
    color: white;
}
.footer-icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
   margin: 7.5px;
}
.copyright{
    color: white;
    margin-top: 20px;
}