.navbar-top {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  
  .logo h3 {
    padding:0; 
    margin-left:50px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size:2rem;
    font-family: 'Poppins', sans-serif;
  }
  .logo a{
    text-decoration: none;
  }
  
  .icons {
    display: flex;
    align-items: center;
    margin-right:50px;
  }
  .icons a:hover{
    color:rgb(207, 196, 185);
  }
  
  .icons a {
    margin: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  
  .search-container {
    position: relative;
  }
  
  #SearchBar {
    padding: 10px;
    width: 400px;
    font-size: 17.5px;
  }
  
  .search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  #searchDropdown div {
    padding: 10px;
    padding-right: 250px;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  
  #searchDropdown div:hover {
    background-color: #f0f0f0;
  }
/*navbar*/
body {
  margin: 0; 
}

  nav {
    background-color: rgba(238,224,208);
  }
  
  ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }
  
  li {
    margin-left: 30px;
    padding: 15px; 
    font-family: 'Poppins', sans-serif;
  }
  
  a {
    text-decoration: none; 
    color:black; 
    font-weight: bold; 
    font-size: 16px; 
  }
  
  li a:hover {
    color: green; 
  }
  /*navbar*/